{% extends "base.html" %}
{% block content %}
    <!---Main content-->
      <div class="main-container">
          <div class="container">
            <div class="row">
              <h1 class="m-3 text-center">Cantidad de inscriptos por semestre.</h1>
            </div>
            <div class="row text-center">
              <div class="col-sm-4">
                <h2>Semestres</h2>
              </div> 
              <div class="col-sm-4">
                <h2>Cantidad</h2>
              </div>                   
            </div>
            <form class="mt-2 text-center" action="/actualizar_cantidad" method="post">
              <input type="number" name="id_cohorte" value={{id}} hidden>
              {% for row in datos %}   
                <div class="row mb-1"> 
                    <div class="col-sm-4">
                      <h4>Semestre {{row[0]}}</h4>
                    </div>  
                    <div class="col-sm-4">
                      <div class="form-group">
                        {% if row[0] == 1%}
                          <input type="number" class="form-control" id="exampleInputPassword1" name="cant_{{row[0]}}" value={{row[1]}} readonly>
                        {% else %}
                          <input type="number" class="form-control" id="exampleInputPassword1" name="cant_{{row[0]}}" value={{row[1]}} min="0" autofocus>
                        {% endif%}
                      </div>  
                    </div>   
                </div>
              {% endfor%}  
              <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
                 
          </div>
      </div>
{% endblock %} 
{% block js %}   
    <!--End main content-->
     <!--Boostrap JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
     <!--JS-->
     <script src="/static/js/notas.js"></script>
{% endblock %}