{% extends "base.html" %}
{% block content %}
<div class="container">
  {% if alert_message %}
    <div class="alert alert-danger" role="alert">
      <strong>{{alert_message}}</strong>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-4">
      <h1>Cargar materia</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="row mb-2">


          </div>
          <div class="row mb-2">
            <div class="col-md-5">
              <input type="file" name="archivo" id="fileInput" class="btn btn-secondary small-file-input">
              <form method="POST" action="/download_template_mat">
                <input type="submit" name="submit" value="Descargar modelo excel" class="btn btn-primary btn-margin">
              </form>
              <button id="uploadButton" class="btn btn-success">Subir</button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div class="col-lg-8">
      <h1>Materias cargadas</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Materia</th>
            <th scope="col">Semestre</th>
          </tr>
        </thead>
        <tbody>
          {% if materias %}
          {% for materia in materias %}
          <tr>
            <td>{{materia.materia_codigo}}</td>
            <td>{{materia.materia_descrip}}</td>
            <td>{{materia.semestre_id}}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
<!--JS-->
{% block js %}
<script src="/static/js/cargarmateria.js"></script>
{% endblock %}