<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Indice de Eficiencia - CyT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Boostrap CSS-->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <!---Boostrap Icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---Theme: https://bootswatch.com/lumen/  c: -->
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
  <!--Nav-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="/"><img src="/static/resources/logo.png" width="150"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1> Cohorte: {{coh}} Carga de Historial</h1>
  <form method="POST" action="/read_notas/{{id}}" enctype="multipart/form-data">
      <input type="file" name="archivo" id="fileInput" class="btn btn-secondary small-file-input">
      <input id="uploadButton" class="btn btn-primary" type="submit" value="Subir Planilla">
  </form>
<br>
<table class="table table-hover">
          <thead>
            <tr style="background: skyblue">
              <td>Matricula</td>
              <td>Alumno</td>
              <td>Estado</td>
              <td>Ver Historial</td>
            </tr>
          </thead>
          <tbody>
          {% if data != None%}
          {% for al in data %}
          <tr>
              <td>{{al.0}}</td>
              <td>{{al.1}}</td>
              <td>{{al.2}}</td>
              <td>
                <a type="button" class="btn btn-warning" href="histAl/{{al.0}}">Ver Historial</a>
              </td>
          </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>

</body>
</html>