{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="pagetitle mt-3">
        <h1>Historial Academico</h1>
        <p class="fw-bold">Alumno: <span class="fw-normal">fdsa</span></p>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-light">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Semestre</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Aprovado</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td scope="row" rowspan="3">1°</td>
                    <td>R1C2</td>
                    <td>R1C3</td>
                </tr>
                <tr class="">
                    <td>Item</td>
                    <td>Item</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
{% endblock%}
